
django
django-crispy-forms
crispy-tailwind
django-rest-framework
ldap3  # Pour l'authentification AD
pillow  # Pour la gestion des images
pandas  # Pour le traitement des données d'importation
django-allauth==0.57.0
python-dotenv==1.0.0
